.form {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 24px;

    &__text {
        background: #F3F3F4;
        border-radius: 16px;
        border: none;
        width: 427px;
        height: 68px;
        padding: 16px 24px;

        font-family: 'Nekst-Black', sans-serif;
        font-weight: 900;
        font-size: 3rem;
        line-height: 36px;
        color: #575757;


        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    &__range {
        -webkit-appearance: none;
        position: absolute;
        margin: 0 auto;
        bottom: 0;
        left: 14px;

        width: 400px;
        height: 3px;
        background: #FF9514;
        outline: none;
        
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            background: #FF9514;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            cursor: pointer;

            &:hover {
                width: 24px;
                height: 24px;
            }
        }
    }
}

.wrapper {
    position: relative;
    display: flex;
    align-items: center;

    &__descr1 {
        position: absolute;
        font-family: 'Nekst-Black', sans-serif;
        font-weight: 900;
        font-size: 3rem;
        line-height: 36px;
        text-align: right;
        color: #575757;
        right: 24px;

    }
}