.form {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 24px;

    &__percents {
        padding: 15px 17px;
        border: none;
        width: 69px;
        height: 54px;

        background: #EBEBEC;
        border-radius: 16px;

        font-family: 'Nekst-Black', sans-serif;
        font-weight: 900;
        font-size: 2rem;
        line-height: 120%;
        text-align: left;
        color: #575757;
        position: absolute;
        right: 7px;
        outline: none;
    }

    &__range {
        -webkit-appearance: none;
        position: absolute;
        margin: 0 auto;
        bottom: 0;
        left: 14px;

        width: 400px;
        height: 3px;
        background: #FF9514;
        outline: none;
        
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            background: #FF9514;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            cursor: pointer;

            &:hover {
                width: 24px;
                height: 24px;
            }
        }
    }
}

.wrapper {

    &__payment {
        position: relative;
        width: 427px;
        height: 68px;
        background: #F3F3F4;
        border-radius: 16px;    
        padding: 7px 7px;
    }

    &__amount {
        font-family: 'Nekst-Black', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 3rem;
        line-height: 36px;
        color: #575757;
        margin: 9px 17px;
    }
}

.percent-sign {
    font-family: 'Nekst-Black', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    line-height: 120%;
    text-align: right;
    color: #575757;
    position: absolute;
    margin: 15px 0;
    right: 12px;
}