* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Nekst-Black', sans-serif;
  font-style: normal;
}

.topic {
  font-family: 'Gilroy';
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  color: #575757;
}
